/* Buttons */
.btn,
form input[type="submit"] {
  background-color: $green;
  padding: 1rem 1rem;
  transition: $transition-base;
  border: 1px solid $green;
  min-width: 200px;

  &.menu-item {
    padding: 0;

    a {
      padding: 1rem;
    }
  }

  &:hover,
  &:focus {
    background-color: white;

    > a,
    > span {
      color: $green;
    }
  }

  > a,
  > span {
    display: block;
    text-align: center;
    color: white;
    line-height: 1;
    text-transform: uppercase;
  }

  &.alt {
    background-color: $red;
    border-color: $red;

    &:hover,
    &:focus {
      background-color: white;
      
      > a,
      > span {
        color: $red;
      }
    }
  }
}

form input[type="submit"] {
  background-color: $red;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white;

  &:hover,
  &:focus {
    color: $red;
  }
}
