/* Global styles */
body {
  &:not(.home) {
    #main {
      padding-top: 75px;
  
      @media screen and (min-width: $md) {
        padding-top: 115px;
      }
    }
  }
}

.text-carousel {
  width: 250px;
  display: inline-block;
  position: relative;

  .carousel-item {
    line-height: .8;
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: $transition-base;
    display: inline;
    color: $red;
    font-style: italic;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -100px, 0);

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }

    &.next {
      transform: translate3d(0, 100px, 0);
    }
  }
}

/* G-Form */
.form-wrapper {
  form {
    .gform-field-label {
      font-weight: 500 !important;

      @media screen and (min-width: 641px) {
        min-height: 60px;
      }

      @media screen and (min-width: $full) {
        min-height: auto;
      }
    }
  }

  &.form-white {
    form {
      .gform-field-label {
        color: white;
      }

      color: $black;
    }
  }

  .gfield_label {
    > .gfield_required { 
      .gfield_required_asterisk {
        color: white;
        font-size: 1.2rem;
      }
    }
  }

  .gform_required_legend {
    display: none;
  }

  .gfield--type-textarea.extra-padding {
    margin: 1rem 0 !important;
  }

  .grid {
    margin: 1rem 0 !important;

    .gform-field-label {
      min-height: auto;
    }
  
    .gfield_radio {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      column-gap: 1rem;

      @media screen and (min-width: $md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      > div {
        margin: .5rem 0;

        @media screen and (min-width: $md) {
          margin: 0;
        }
      }
  
      br {
        display: block;
      }
    }
  }

  .gform_confirmation_message {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1rem;
  }

  .gform_submission_error {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .gform_footer {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    input[type="submit"] {
      margin-bottom: 0 !important;
    }
  }
}

.gform_wrapper.gravity-theme .gfield-choice-input {
  vertical-align: top;
  margin-top: 5px;
}

.ac {
  .ac-trigger {
    font: inherit;
    font-weight: bold;
  }
}