/* Typography */

body {
  color: $black;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif Display', 'Times New Roman', Times, serif;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2.5rem, 5.208vw + 0rem, 4.688rem); /* 40 - 75 */
  letter-spacing: -1.5px;
  line-height: 1.1;
}

h2,
.text-h2 {
  font-size: clamp(1.625rem, 4.613vw - 0.589rem, 3.563rem); /* 26 - 57 */
  letter-spacing: -0.5px;
}

h3,
.text-h3 {
  font-size: clamp(1.313rem, 2.083vw + 0.313rem, 2.188rem); /* 21 - 35 */
}

h4,
.text-h4 {
  font-size: clamp(0rem, 2.361vw + 0rem, 2.125rem);
  letter-spacing: 0.25px;
}

h5 {
  font-size: clamp(0rem, 1.667vw + 0rem, 1.5rem);
}

h6 {
  font-size: clamp(0rem, 1.389vw + 0rem, 1.25rem);
  letter-spacing: .15px;
}

input[type="submit"],
.gform-field-label {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 0.298vw + 0.857rem, 1.125rem) !important;
  font-weight: 400;
}

.type-js,
.typed-cursor {
  font-style: italic;
  color: $red;
}

.e-content {
  > p {
    margin-bottom: clamp(1rem, 0.298vw + 0.857rem, 1.125rem);
  
    &:last-of-type {
      margin: 0;
    }
  }

  a {
    text-decoration: underline;
  }

  ul,
  ol {
    padding: clamp(1rem, 0.298vw + 0.857rem, 1.125rem) 0 clamp(1rem, 0.298vw + 0.857rem, 1.125rem) clamp(1rem, 0.298vw + 0.857rem, 1.125rem);

    li {
      margin-bottom: 4px;
      padding-left: 4px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style-type: "\2713";
  }

  ol {
    list-style-type: decimal;
  }
}

.subtitle {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: clamp(0.75rem, 0.298vw + 0.607rem, 0.875rem); /* 12 - 14 */
}

.btn,
.text-link,
.gform_submission_error {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.text-link {
  font-size: clamp(1rem, 0.298vw + 0.857rem, 1.125rem);
}