/* Branding */
header {
  .brand {
    width: 100px;

    @media screen and (min-width: $lg) {
      width: 150px;
    }
  }

  &.scrolled {
    .brand {
      @media screen and (min-width: $lg) {
        width: 100px;
      }
    }
  }
}