/* Navigation */
header {
  height: 75px;

  @media screen and (min-width: $md) {
    &:not(.scrolled) {
      height: 115px;
    }
  }

  nav {
    @media screen and (max-width: calc($md - 1px)) {
      opacity: 0;
      visibility: hidden;
      transition: $transition-base;
    }

    &.open {
      @media screen and (max-width: calc($md - 1px)) {
        opacity: 1;
        visibility: visible;
      }
    }

    > div {
      width: 100%;

      @media screen and (max-width: calc($md - 1px)) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      ul.nav {
        width: 100%;

        li {
          @media screen and (max-width: calc($md - 1px)) {
            transition: $transition-base;
            transition-duration: 400ms;
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, 75px, 0);

            &.show {
              opacity: 1;
              visibility: visible;
              transform: translate3d(0, 0, 0);
            }

            &:nth-child(1) {
              transition-delay: 50ms;
            }

            &:nth-child(2) {
              transition-delay: 100ms;
            }

            &:nth-child(3) {
              transition-delay: 150ms;
            }

            &:nth-child(4) {
              transition-delay: 200ms;
            }

            &:nth-child(5) {
              transition-delay: 250ms;
            }
          }

          a {
            @media screen and (max-width: calc($md - 1px)) {
              font-size: 1.75rem;
              font-weight: 300;
            }
          }

          &.btn {
            @media screen and (min-width: $md) {
              margin: 0 0 0 auto;
            }
          }

          &:not(.btn) {
            padding: 0 0 1rem 0;

            @media screen and (min-width: $md) {
              padding: 0 .5rem;
            }
            
            a {
              text-transform: uppercase;
              position: relative;
      
              &:hover,
              &:focus {
                &::after {
                  width: 100%;
                }
              }
      
              &::after {
                content: '';
                transition: $transition-base;
                position: absolute;
                width: 0;
                height: 2px;
                bottom: -10px;
                left: 0;
                background-color: $black;
              }
            }
          }
        }
      }
    }
  }
}